*.css linguist-detectable=false
*.scss linguist-detectable=false
FrontEnd/assets/js/animated.headline.js linguist-vendored
FrontEnd/assets/js/bootstrap.min.js linguist-vendored
FrontEnd/assets/js/contact.js linguist-vendored
FrontEnd/assets/js/jquery.ajaxchimp.min.js linguist-vendored
FrontEnd/assets/js/jquery.form.js linguist-vendored
FrontEnd/assets/js/jquery.magnific-popup.js linguist-vendored
FrontEnd/assets/js/jquery.nice-select.min.js linguist-vendored
FrontEnd/assets/js/jquery.paroller.min.js linguist-vendored

FrontEnd/assets/js/jquery.scrollUp.min.js linguist-vendored
FrontEnd/assets/js/jquery.slicknav.min.js linguist-vendored
FrontEnd/assets/js/wow.min.js linguist-vendored
FrontEnd/assets/js/vendor/modernizr-3.5.0.min.js linguist-vendored

FrontEnd/assets/js/jquery.sticky.js linguist-vendored
FrontEnd/assets/js/jquery.validate.min.js linguist-vendored
FrontEnd/assets/js/mail-script.js linguist-vendored
FrontEnd/assets/js/main.js linguist-vendored

FrontEnd/assets/js/one-page-nav-min.js linguist-vendored
FrontEnd/assets/js/owl.carousel.min.js linguist-vendored
FrontEnd/assets/js/plugins.js linguist-vendored
FrontEnd/assets/js/popper.min.js linguist-vendored

FrontEnd/assets/js/slick.min.js linguist-vendored
FrontEnd/assets/js/vendor/jquery-1.12.4.min.js linguist-vendored



FrontEnd/index.html linguist-language=Python
FrontEnd/assets/fonts/flaticon.html linguist-language=JavaScript
