*.css linguist-detectable=false
*.scss linguist-detectable=false
FrontEnd/assets/js/animated.headline.js linguist-vendored=false
FrontEnd/assets/js/bootstrap.min.js linguist-vendored=false
FrontEnd/assets/js/contact.js linguist-vendored=false
FrontEnd/assets/js/jquery.ajaxchimp.min.js linguist-vendored=false

